{% extends 'default.html' %}

{% block content %}
<style>
		#query_form {
			margin-top:20px;
		}

		#query_form #query {
			max-width:100%;
			min-width:100%;
			width:100%;
			height:125px;
		}

		#history .query_row {
			cursor:pointer;
		}

		#history h2 {
			text-align:center;
		}

		#error_box {
			display:none;
		}
	</style>
	<div id="wrapper">
		<div id="query_form" class="form-horizontal">
			<div class="control-group">
				<p id="error_box" class="text-error"></p>
			</div>
			<div class="control-group">
				<textarea id="query" placeholder="Query..."></textarea>
			</div>
			<div class="control-group" id="execute_container">
				<label class="checkbox">
					<input type="checkbox" id="email" value="1" />Email on Completion
				</label>
				<label class="checkbox">
					<input type="checkbox" id="public" value="1" />Make Public
				</label>
			</div>
			<div class="control-group">
				<input type='text' id='name' placeholder="Name (Optional)" size=50 value='' />
				<div style='clear:both;'></div>
			</div>
			<div class="control-group">
				<button id="execute" class="btn btn-primary" >Execute</button>
			</div>
		</div>
		<div id="history">
			<h2>Query History</h2>
			{% include "element/query_table.html" %}
		</div>
	</div>
	<script>
		$("#execute").click(function(){
			var options = {
				query: $("#query").val(),
				name: $("#name").val()
			};

			if (options.query.indexOf(";") != -1)
			{
				$("#error_box").html("Semi-colons are create invalid syntax.");
				$("#error_box").toggle(true);
				return;
			} else {
				$("#error_box").toggle(false);
			}

			if ($("#public").is(":checked"))
				options['is_public'] = true;

			if ($("#email").is(":checked"))
				options['email_on_complete'] = true;


			$.get('/ajax/query', options, function(err, succ){
				top.location.reload()
			});
		})

	</script>
{% endblock %}
