{% extends "default.html" %}


{% block content %}
<style>
	#query_name_input {display:none;font-size: 30px;line-height: 40px;height:auto;width:100%}
	#comments_container {width:500px;}
	.comment { border-bottom: 1px solid #333; }
	#comment_message { width:100% }
	#new_comment { margin-top:10px; }
</style>


<div style="margin-top:20px;" id="query_container">
	<div class="row">
		<div class="span9">
			<div id="query_name">
				<h2>{{ query.name|default:"No Name" }}</h2>
				<input type="text" name="query_name" id="query_name_input">
			</div>
			<p><small>{{ query.created_on }}</small></p>
			<p><small>by <b>{{ query.creator.name }}</b></small></p>
			<pre id="query_text" data-revision="{{ q.queries.0.id }}" class="sh_sql">{{ query.queries.0.query }}</pre>
		</div>
		<div class="span3">
			<h3>Revisions</h3>
			<ul class="unstyled">
			{% for q in query.queries %}
			<li><p><a class="switch-revision" data-revision="{{ q.id }}">{{ q.created_on|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ q.editor.name }}</b></a></p>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="control-group">
		<button id="rerun" class="btn btn-primary">Re-Run</button>
		<button id="save" class="btn btn-primary {% if query.is_saved %}active{% endif %}" data-toggle="button">Save</button>
		<button id="publish" class="btn btn-primary {% if query.is_public %}active{% endif %}" data-toggle="button">Publish</button>
		<button id="delete" class="btn">Delete</button>
	</div>

	<h2>Results</h2>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Run Date</th>
					<th>User</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for result in query.queries.0.results %}
					<tr><td>{{ result }}</td></tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


	<div id="comments_container">
		<h3>Comments</h3>
		<div class="list">
		</div>
	</div>

</div>


<script id="result" type="text/html">
	<tr>
		<td>{% templatetag openvariable %} created_on {% templatetag closevariable %}</td>
		<td>{% templatetag openvariable %} user {% templatetag closevariable %}</td>
		<td><a class="results" data-id="{% templatetag openvariable %} id {% templatetag closevariable %}">Results</a></td>
	</tr>
</script>

<script id="comment" type="text/html">
	<div class="comment">
		<h4>
			{% templatetag openvariable %} user_name {% templatetag closevariable %}
		</h4>

		<p><small>
			{% templatetag openvariable %} date {% templatetag closevariable %}
		</small></p>
		<p>
			{% templatetag openvariable %} message {% templatetag closevariable %}
		</p>
	</div>
</script>

<script id="new_comment" type="text/html">
	<div id="new_comment" class="form-horizontal">
		<div class="control-group">
			<textarea id="comment_message" placeholder="Comment"></textarea>
		</div>
		<div class="control-group">
			<button type="button" id="add_comment" class="btn">Submit</button>
		</div>
	</div>

</script>




<script type="text/javascript">
	$(document).ready(function(){

		var QueryGroup = Backbone.Model.extend({
			url: function()
			{
				return "/ajax/query/" + this.get('id');
			}
		});

		var Comment = Backbone.Model.extend({
			url: "/ajax/comment"
		});

		var Comments = Backbone.Collection.extend({
			initialize: function(opts)
			{
				this.qid = opts.qid;
			},
			url: function(){
				return '/ajax/comments/' + this.qid;
			}
		})

		var CommentsView = Backbone.View.extend({
			initialize: function(){
				var self = this;
				
				this.collection.fetch({success: function(){
					self.render()
				}});
			},
			events: {
				'click #add_comment': 'addComment'
			},
			addComment: function(e) {
				var self = this;
				var cm = new Comment({
					message: $(this.el).find("#comment_message").val(),
					query_id: this.collection.qid,
					created_on: new Date()
				});

				cm.save({}, {success: function(){
					self.collection.fetch({success: function(){
						self.render()
					}});
				}});
			},
			render: function(){
				var self = this;

				$(this.el).html("");

				this.collection.each(function(model){
					var vals = {
						user_name: model.get('user_name'),
						date: model.get('created_on'),
						message: model.get('message')
					};

					var comm = ich.comment(vals);

					$(self.el).append(comm)
				});

				var ncomm = ich.new_comment();

				$(self.el).append(ncomm);
			}
		});

		var QueryView = Backbone.View.extend({

			events: {
				'click #publish': "publishquery",
				'click #save': "savequery",
				'click #delete': 'deletequery',
				'click #query_name': "change_name",
				'blur #query_name_input': "save_name",
				'click .switch-revision': 'switch_revision'
			},
			savequery: function(e) {
				var is_saved = $(e.target).hasClass("active");
				is_saved = is_saved ? false : true;
				this.model.set('is_saved', is_saved);
				this.model.save();
			},
			publishquery: function(e) {
				var is_public = $(e.target).hasClass("active");
				is_public = is_public ? false : true;
				this.model.set('is_public', is_public);
				this.model.save();
			},
			change_name: function(e) {
				$(this.el).find("#query_name h2").toggle(false);
				var n = $(this.el).find("#query_name_input");
				n.toggle(true);
				n.val(this.model.get('name'));
				n.focus();
			},
			deletequery: function(e) {
				this.model.set('is_deleted', true);
				this.model.save();
				history.go(-1);
			},
			save_name: function(e){
				var name = $(e.target).val();

				if (name != "") {
					$(this.el).find("#query_name h2").html(name)
					this.model.set('name', name);
					this.model.save();
				}

				$(this.el).find("#query_name h2").toggle(true);
				$(this.el).find("#query_name_input").toggle(false);
			},
			switch_revision: function(e) {
				var rid = $(e.target).data('revision');
				var rs = this.model.get('queries');

				for (var i = 0; i < rs.length; i++) {
					if (rs[i].id == parseInt(rid))
					{
						$("#query_text").data('revision', rid);
						$("#query_text").html(rs[i].query);
						sh_highlightDocument();
						break;
					}
				}
			}
		});

		var comments = new Comments({
			qid: {{ query.id }}
		});

		var CV = new CommentsView({
			el: "#comments_container .list",
			collection: comments
		});

		var q = new QueryGroup({{ query_json|safe }});

		var qv = new QueryView({
			el: "#query_container",
			model: q
		});
	})
</script>

{% endblock %}
