<table class="table table-striped table-bordered table-hover">
	<tr>
		<th>ID</th>
		{% if not cur_user %}
		<th><p>Creator</p></th>
		{% endif %}
		<th>Last Status</th>
		<th>Name</th>
		<th>Query</th>
		<th>Created On</th>
	</tr>
	{% for query in queries %}
	<tr class="query_row" data-query-id="{{ query.id }}">
		<td><p>{{ query.id }}</p></td>
		{% if not cur_user %}
		<td><p>{{ query.creator.username }}</p></td>
		{% endif %}
		{% if query.last_query.last_result == None %}
			<td><p class="text-info">No Results</p></td>
		{% else %}
			{% if query.last_query.last_result.status == query.last_query.last_result.SUCCESS %}
			<td><p class="text-success">Success</p></td>
			{% else %}
				{% if query.last_query.last_result.status == query.last_query.last_result.FAILED %}
					<td><p class="text-error">Failed</p></td>
				{% else %}
				<td><p class="text-info">{{ query.last_query.last_result.status }}</p></td>
				{% endif %}
			{% endif %}
		{% endif %}
		<td><p>{{ query.name|default:"No Name" }}</p></td>
		<td><p>{{ query.last_query.query }}</p></td>
		<td><p>{{ query.created_on }}</p></td>
	</tr>
	{% endfor %}
</table>

<script>

	$(".query_row").click(function(){
		top.location.href = '/query/' + $(this).data('queryId');
	});

</script>

